body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f9341;
}

#input-el {
    border-color: #5f9341;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

#input-btn {
    background-color: #5f9341;
    color: white;
}